

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MeiMarie</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Transactions</a></li>
                <li><a href="#stats"><i class="fa fa-shield"></i> Statistics</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">


    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h3>Cumulative Sums over time</h3>

            <a href="" ng-click="switchInterval('DAY')">day</a> |
            <a href="" ng-click="switchInterval('WEEK')">week</a> |
            <a href="" ng-click="switchInterval('MONTH')">month</a> |
            <a href="" ng-click="switchInterval('YEAR')">year</a>

            <canvas id="bar" class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels"
                    chart-series="chartSeries" chart-options="chartOptions"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h3>General Stats</h3>
            <table class="table">
                <tr>
                    <th>Number of transactions</th>
                    <th>Minimum<br/>(highest spending)</th>
                    <th>Maximum<br/>(highest withdrawal)</th>
                    <th>Mean</th>
                    <th>Overall sum</th>
                </tr>
                <tr>
                    <td>{{stats.descriptive.count}}</td>
                    <td>{{stats.descriptive.min}} €</td>
                    <td>{{stats.descriptive.max}} €</td>
                    <td>{{stats.descriptive.mean}} €</td>
                    <td>{{stats.descriptive.total}} €</td>
                </tr>
            </table>
        </div>
    </div>

</div>
