

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MeiMarie</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Transactions</a></li>
                <li><a href="#stats"><i class="fa fa-shield"></i> Statistics</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <div class="row">
        <div class="col-md-5">
            Count: {{stats.descriptive.count}}<br/>
            Min.: {{stats.descriptive.min}}<br/>
            Max.: {{stats.descriptive.max}}<br/>
            Mean: {{stats.descriptive.mean}}<br/>
            Total: {{stats.descriptive.count}}
        </div>

        <div class="col-md-offset-1 col-md-5">

            <a href="" ng-click="switchInterval('DAY')">day</a> |
            <a href="" ng-click="switchInterval('WEEK')">week</a> |
            <a href="" ng-click="switchInterval('MONTH')">month</a> |
            <a href="" ng-click="switchInterval('YEAR')">year</a>

            <div ng-repeat="item in stats.sumsPerInterval">
                {{item.interval}}: {{item.sum}}
            </div>



        </div>
    </div>


</div>
